#
# Copyright contributors to the Hyperledger Fabric Operator project
#
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at:
#
# 	  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
name: Integration Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  KUBECONFIG_PATH: /tmp/kubeconfig.yaml
  OPERATOR_NAMESPACE: inttest
  DOCKERCONFIGJSON: ${{ secrets.DOCKERCONFIGJSON }}
  GO_VER: 1.18

jobs:
  suite:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        suite:
          - ca
          - peer
          - orderer
          - console
#          - init
#          - migration
#          - e2ev2
#          - actions/ca
#          - actions/orderer
#          - actions/peer
#          - autorenew
#          - cclauncher
#          - restartmgr
#          - operatorrestart

    steps:
      - uses: actions/checkout@v3

      - name: Set up go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VER }}

      - name: Set up ginkgo
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@v2.1.4

      - name: Set up KIND k8s cluster
        run: |
          make kind
          kubectl config view --raw > /tmp/kubeconfig.yaml

      - name: Install Fabric CRDs
        run: |
          kubectl kustomize config/crd | kubectl apply -f -

      - name: Run ${{ matrix.suite }} integration tests
        run: make integration-tests
#        run: |
#          sleep 360 && kubectl --kubeconfig $KUBECONFIG_PATH describe pods --all-namespaces &
#          make integration-tests
        env:
          INT_TEST_NAME: ${{ matrix.suite }}
